{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if posts %}
                    {% for post in posts %}
                    <div class="post-preview">
                        <a href="{{ post.get_absolute_url }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.body|truncatewords:30|linebreaks }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                        {{ post.author }}
                        on {{ post.publish }}</p>
                    </div>
                    <hr>
                    {% endfor %}
                {% else %}
                    <div class="post-preview">
                        <h3 class="post-title">
                            Wow, such empty!
                        </h3>
                        <h3 class="post-subtitle">
                            Just login or sign up and make your post!
                        </h3>
                    </div>
                    <hr>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}